@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

*::selection {
    color: #323232;
    background-color: #00ffd2;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #00ffd2;
}

::-webkit-scrollbar-thumb:hover {
    background: #323232;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #00ffd2;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #00ffd2;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #00ffd2;
    background-color: #fff;
}

.btn2 {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #00ffd2;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

.btn2:hover {
    color: #00ffd2;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #00ffd2;
    z-index: -100;
}

section#dev {
    margin-top: 60px;
}

section#home {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section#home .content h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

section#home .content h1 {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}

section#home .content h1 b {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    font-weight: 700;
}

section#home .content h1 span {
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #00ffd2;
}

section#home .content h1 b span {
    font-size: 3.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #00ffd2;
}

section#home .content p {
    margin-bottom: 2rem;
    color: #ccc;
}

section#home .image {
    position: relative;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
}

section#home .image img {
    max-width: 600px;
    margin: auto;
}

section .header {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

section .headercode {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

section .headercode span {
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #00ffd2;
}

.features {
    left: 0;
    right: 0;
}

.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.features .card:hover {
    background-color: #323232;
    border-color: #00ffd2;
}

.features .card span {
    display: inline-block;
    background-color: #00ffd2;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #323232;
    border-radius: 10px;
}

.features .card h4 {
    margin-bottom: 0.5rem;
    color: #00ffd2;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p {
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a {
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover {
    color: #00d3ac;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.sub-headercode {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card {
    padding: 1.5rem 1.5rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover {
    background-color: #323232;
    border-color: #00d3ac;
}

.pricing .card .content {
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4 {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3 {
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p {
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i {
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover {
    background-color: #00d3ac;
    border-color: #00d3ac;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo {
    max-width: 200px;
    margin-bottom: 2rem;
}

footer .column p {
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover {
    color: #00ffd2;
    background-color: #323232;
    border-color: #00ffd2;
}

footer .column h4 {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column>a {
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column>a:hover {
    color: #00ffd2;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

.card img {
    border-radius: 10px;
}

.whatsapp-button {
    position: fixed;
    bottom: 120px;
    right: 40px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: scale 0.3s;
}

.whatsapp-button a i {
    font-size: 50px;
    color: #00ffd2;
    transition: 0.3s;
}

.whatsapp-button a i:hover {
    color: #ffffff;
}

.whatsapp-button:hover {
    scale: 0.9;
}

.instagram-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: scale 0.3s;
}

.instagram-button a i {
    font-size: 50px;
    color: #00ffd2;
    transition: 0.3s;
}

.instagram-button a i:hover {
    color: #ffffff;
}

.instagram-button:hover {
    scale: 0.9;
}

@media (width < 900px) {
    .image {
        display: none;
    }

    .nav-links {
        display: none;
    }

    section#home {
        grid-template-columns: repeat(1, 1fr);
    }

    section#home .image {
        grid-area: 1/1/2/2;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        grid-template-columns: 1fr 200px;
    }

    .btn2 {
        display: block;
    }

    .btn {
        display: none;
    }

    nav {
        display: none;
    }
}

@media (width < 600px) {
    section#home .image::before {
        display: none;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
    }

    .whatsapp-button {
        position: fixed;
        bottom: 80px;
        right: 15px;
        border-radius: 50%;
        width: 50px;
        height: 60px;
    }

    .whatsapp-button a i {
        font-size: 40px;
        color: #00ffd2;
        transition: 0.3s;
    }

    .instagram-button {
        position: fixed;
        bottom: 15px;
        right: 15px;
        border-radius: 50%;
        width: 50px;
        height: 60px;
    }

    .instagram-button a i {
        font-size: 40px;
        color: #00ffd2;
        transition: 0.3s;
    }
}

section#home p {
    position: relative;
    margin: 0 0 1.5em 0;
}

@media screen and (max-width: 736px) {

    section#home p br {
        display: none;
    }

}

section#servico {
    border-top: 1.5px solid rgba(255,255,255,0.075);
    border-bottom: 1.5px solid rgba(255,255,255,0.075);
    background-color: #141414;
    color: #fff;
    padding: 4.5em 0 2.5em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url("../image/pattern-size1.svg");
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    min-height: 35em;
}

section#servico h1,
section#servico h2,
section#servico h3,
section#servico h4,
section#servico h5,
section#servico h6 {
    color: #ffffff;
}

section#servico h1 {
    font-size: 3.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

section#servico h2 {
    font-size: 2.25em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

section#servico p {
    font-size: 1.5em;
    line-height: 1.35em;
}

section#servico .content {
    -moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
    transition: opacity 0.5s ease, transform 1s ease;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    text-align: right;
    margin: -3.5em 4em 0 0;
}

section#servico .content> :last-child {
    margin-bottom: 0;
}

section#servico .image {
    width: 400px;
}

.button-payment {
    font-size: 17px;
    padding: 8px 13px;
    color: #323232;
    background-color: #00ffd2;
    border-radius: 5px;
    margin-left: 20px;
    transition: all 0.4s;
}

.button-payment:hover {
    color: #00ffd2;
    background-color: #323232;
}

.button-payment2 {
    font-size: 17px;
    padding: 8px 13px;
    color: #00ffd2;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 20px;
    transition: all 0.4s;
}

.button-payment2:hover {
    color: #fff;
    background-color: #00ffd2;
}

.buy {
    margin-right: 5px;
}

.payment {
    text-align: center;
}

.super-margin {
    margin-top: 50px;
}

.price {
    color: #00ffd2;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.price:hover {
    color: #ffffff;
}

@media screen and (max-width: 1280px) {

    section#servico {
        background-image: url("../image/pattern-size1.svg");
    }

}

@media screen and (max-width: 980px) {

    section#servico {
        height: auto;
        min-height: 0;
    }

    section#servico .content {
        margin: -2em 4em 0 0;
    }

    section#servico .content .actions {
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }

    section .headercode {
        font-size: 2.5rem;
    }

    section .headercode span {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 980px) and (orientation: portrait) {

    section#servico {
        padding: 6em 3em 4em 3em;
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    section#servico .content {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 0 2em 0;
    }

    section#servico .image {
        overflow: hidden;
    }

    .container {
        padding: 2rem 2rem;
    }

}

@media screen and (max-width: 736px) {

    section#servico {
        background-image: url("../image/pattern-size1.svg");
    }

    section#servico h1 {
        font-size: 2.5em;
    }

    section#servico h2 {
        font-size: 1.5em;
    }

    section#servico p {
        font-size: 1em;
        line-height: inherit;
    }

}

@media screen and (max-width: 736px) and (orientation: landscape) {

    section#servico {
        padding: 2em 2em 0.1em 2em;
    }

    section#servico .content {
        margin: 0 2em 2em 0;
    }

    section#servico .image {
        font-size: 0.8em;
        width: 15em;
        max-width: 20vw;
    }

    section#servico .image .inner,
    section#servico .image:before,
    section#servico .image:after {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 736px) and (orientation: portrait) {

    section#servico {
        padding: 3em 1.5em 1em 1.5em;
    }

    section#servico .image {
        font-size: 0.6em;
        max-width: 60vw;
    }

}

@media screen and (max-width: 480px) and (orientation: landscape) {

    section#servico {
        padding: 2em 1.5em 0.1em 1.5em;
    }

    section#servico .image {
        font-size: 0.7em;
    }

}

@media screen and (max-width: 480px) and (orientation: portrait) {

    section#servico {
        padding: 2em 1em 0.1em 1em;
    }

}

@media screen and (max-width: 980px) and (orientation: portrait) {

    section#servico .content {
        transform: none;
        opacity: 1;
    }

    section#servico .image {
        -moz-transform: translateY(2em);
        -webkit-transform: translateY(2em);
        -ms-transform: translateY(2em);
        transform: translateY(2em);
    }

}